
body {
	background-color: #0f0f0f !important;
}

.prompt-sign {
    position: absolute;
    top: 25px;
    left: 40px;
    pointer-events: none;
    font-size: 1em;
}

.highlighted-parameter {
    color: #426992;
    font-weight: bold;
    font-size: 1em;
}

.highlighted-warning {
    color: red;
    font-weight: bold;
}

.custom-switch label {
    cursor: pointer;
    user-select: none;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs .nav-link:hover {
    background-color: #375a7f;
}

.nav-tabs .nav-link.active {
    background-color: #375a7f;
}

_:-ms-fullscreen, :root body {
    /* IE11 */
    overflow-y: scroll;
}

#listener-command {
    border: none !important;
    border-radius: 5px;
    /*box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75); original */
    box-shadow: rgba(0, 0, 0, 0.27) 0px -1px 10px, rgba(0, 0, 0, 0.36) 0px 6px 6px;
}

#reverse-shell-command {
    border: none !important;
    border-radius: 5px;
    /*box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75); original */
    box-shadow: rgba(0, 0, 0, 0.27) 0px -1px 10px, rgba(0, 0, 0, 0.36) 0px 6px 6px;
    background-color: rgb(70, 70, 70);
    max-height: 20rem;
}

#bind-shell-command {
    border: none !important;
    border-radius: 5px;
    /*box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75); original */
    box-shadow: rgba(0, 0, 0, 0.27) 0px -1px 10px, rgba(0, 0, 0, 0.36) 0px 6px 6px;
    background-color: rgb(70, 70, 70);
    max-height: 20rem;
}

#msfvenom-command {
    border: none !important;
    border-radius: 5px;
    /*box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75); original */
    box-shadow: rgba(0, 0, 0, 0.27) 0px -1px 10px, rgba(0, 0, 0, 0.36) 0px 6px 6px;
    background-color: rgb(70, 70, 70);
    max-height: 20rem;
}

#hoaxshell-command {
    border: none !important;
    border-radius: 5px;
    /*box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75); original */
    box-shadow: rgba(0, 0, 0, 0.27) 0px -1px 10px, rgba(0, 0, 0, 0.36) 0px 6px 6px;
    background-color: rgb(70, 70, 70);
    max-height: 20rem;
}

#theme-selector {
    width: 100px;
    height: 30px;
    font-size: 13px;
    margin-top: 5px;
}

.custom-select {
    background-color: #646464;
    color: white;
}

.container {
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0) 0px 13px 27px -5px, rgb(0, 0, 0) 0px 8px 16px -8px;
    height: 100% !important;
    background: #202020;
    margin: 20px auto;
}

h2 {
    color: white;
    text-align: center;
}

.pre-wrap {
    white-space: pre-wrap;
}

.card-body {
    max-height: 40rem;
}

.list-group-item.active, .list-group-item-action:focus, .list-group-item-action:hover {
    background-color: #375a7f;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

.download-svg {
    height: 20px;
    width: 20px;
    filter: invert(100%) sepia(0%) saturate(7497%) hue-rotate(347deg) brightness(103%) contrast(99%);
}
.download-svg:hover {
    filter: invert(100%) sepia(0%) saturate(7497%) hue-rotate(347deg) brightness(50%) contrast(99%);
}
@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

button {
	outline: none;
}

.shadow {
	margin-bottom: 0px !important;
}
