/*
Ain't got time for using CSS the right way. !important everything!
*/

[data-theme="meme"] {
    background-color: pink !important;
}

[data-theme="meme"] .card {
    background-color: rgb(175, 139, 173) !important;
    color: #000;
}

[data-theme="meme"] .bg-white {
    background-color: rgb(221, 215, 215) !important;
}

[data-theme="meme"] .bg-dark {
    background-color: rgb(231, 212, 224) !important;
}

[data-theme="meme"] .github-corner > svg{
    fill: #151513 !important;
    color: #fff !important;
}

[data-theme="meme"] .rainbow {
    text-shadow: 2px 2px 4px #000;
    font-size: 40px;
    -webkit-animation: rainbow 5s infinite;
    -ms-animation: rainbow 5s infinite;
    animation: rainbow 5s infinite;
    font-family: 'Comic Mono';
}

[data-theme="meme"] .prompt-sign {
    position: absolute;
    top: 25px;
    left: 40px;
    pointer-events: none;
    font-size: 1em;
    color: #2e3e86;
}

[data-theme="meme"] .input-group-text {
    background-color: #f1c6ce;
    color: #000;
}

[data-theme="meme"] .btn {
    background-color: #a56096;
    color: #000;
    border-color: #a56096;
}

[data-theme="meme"] .highlighted-parameter {
    color: #7223b5;
    font-weight: bold;
    font-size: 1em;
}

[data-theme="meme"] .highlighted-warning {
    color: red;
    font-weight: bold;
}

[data-theme="meme"] .custom-switch label {
    cursor: pointer;
    user-select: none;
}

[data-theme="meme"] .custom-control-input:checked~.custom-control-label::before {
    background-color: #7223b5;
}

[data-theme="meme"] #listener-command {
    border: none !important;
    border-radius: 5px;
    /*box-shadow: 10px 10px 20px 0px rgba(153, 28, 143, 0.75); original */
    box-shadow: 0px 2px 20px 0 rgba(153,28,143,.75);
    background-color: rgb(45, 139, 135);
    color: #000;
}

[data-theme="meme"] #reverse-shell-command {
    border: none !important;
    border-radius: 5px;
    /*box-shadow: 10px 10px 20px 0px rgba(153, 28, 143, 0.75); original */
    box-shadow: 0px 2px 20px 0 rgba(153,28,143,.75);
    background-color: rgb(45, 139, 135);
    color: #000;
    max-height: 20rem;
}

[data-theme="meme"] #bind-shell-command {
    border: none !important;
    border-radius: 5px;
    /*box-shadow: 10px 10px 20px 0px rgba(153, 28, 143, 0.75); original */
    box-shadow: 0px 2px 20px 0 rgba(153,28,143,.75);
    background-color: rgb(45, 139, 135);
    color: #000;
    max-height: 20rem;
}

[data-theme="meme"] #msfvenom-command {
    border: none !important;
    border-radius: 5px;
    /*box-shadow: 10px 10px 20px 0px rgba(153, 28, 143, 0.75); original */
    box-shadow: 0px 2px 20px 0 rgba(153,28,143,.75);
    background-color: rgb(45, 139, 135);
    color: #000;
    max-height: 20rem;
}

[data-theme="meme"] #hoaxshell-command {
    border: none !important;
    border-radius: 5px;
    /*box-shadow: 10px 10px 20px 0px rgba(153, 28, 143, 0.75); original */
    box-shadow: 0px 2px 20px 0 rgba(153,28,143,.75);
    background-color: rgb(45, 139, 135);
    color: #000;
    max-height: 20rem;
}

[data-theme="meme"] .custom-select {
    background-color: #f1c6ce;
    color: #000;
    border-color: #a56096;
}

[data-theme="meme"] .nav-link {
    color: #000;
    background: transparent;
    box-shadow: 5px 5px 5px 0px rgba(153, 28, 143, 0.75);
}

[data-theme="meme"] .nav-link:hover {
    background-color: #7223b5;
}

[data-theme="meme"] .nav-link.active {
    background-color: #a56096;
    color:#000;
}

[data-theme="meme"] .custom-control-input:checked {
    color: #000;
}

[data-theme="meme"] a {
    background-color: #f1c6ce;
    color: #000;
}

[data-theme="meme"] .list-group-item {
    background-color: #f1c6ce;
    color: #000;
}

[data-theme="meme"] .list-group-item.active {
    background-color: #a56096;
    border-color: #000;
}

[data-theme="meme"] .list-group-item:hover {
    background-color: #a56096;
}

[data-theme="meme"] .list-group-item.hover {
    background-color: rgba(153, 28, 143, 0.75);
}

[data-theme="meme"] .container {
    padding: 20px;
    border-radius: 20px;
    /*box-shadow: 10px 0px 20px 0px rgba(153, 28, 143, 0.75); original */
    box-shadow: 3px 0 20px 0 rgba(153,28,143,.75);
    height: 100% !important;
	background-image: url(../assets/meme_doge.jpg);
	margin: 20px auto;
	background-position: 45% 24%;
}

[data-theme="meme"] label.card-title {
    color: #fff !important;
}

[data-theme="meme"] .card-title {
    color: black !important;
}

[data-theme="meme"] .custom-control-label {
    color: black;
}

[data-theme="meme"] h2 {
    color: white;
    text-align: center;
}

[data-theme="meme"] .pre-wrap {
    white-space: pre-wrap;
}

[data-theme="meme"] .card-body {
    max-height: 40rem;
}

[data-theme="meme"] .download-svg:hover {
    filter: opacity(70%);
}
@font-face {
    font-family: "Comic Mono";
    src: url(../assets/ComicMono.ttf);
}

@-webkit-keyframes rainbow {
    0% {
        color: orange;
    }

    10% {
        color: purple;
    }

    20% {
        color: red;
    }

    30% {
        color: CadetBlue;
    }

    40% {
        color: yellow;
    }

    50% {
        color: coral;
    }

    60% {
        color: green;
    }

    70% {
        color: cyan;
    }

    80% {
        color: DeepPink;
    }

    90% {
        color: DodgerBlue;
    }

    100% {
        color: orange;
    }
}

/* Internet Explorer */
@-ms-keyframes rainbow {
    0% {
        color: orange;
    }

    10% {
        color: purple;
    }

    20% {
        color: red;
    }

    30% {
        color: CadetBlue;
    }

    40% {
        color: yellow;
    }

    50% {
        color: coral;
    }

    60% {
        color: green;
    }

    70% {
        color: cyan;
    }

    80% {
        color: DeepPink;
    }

    90% {
        color: DodgerBlue;
    }

    100% {
        color: orange;
    }
}

/* Standar Syntax */
@keyframes rainbow {
    0% {
        color: orange;
    }

    10% {
        color: purple;
    }

    20% {
        color: red;
    }

    30% {
        color: CadetBlue;
    }

    40% {
        color: yellow;
    }

    50% {
        color: coral;
    }

    60% {
        color: green;
    }

    70% {
        color: cyan;
    }

    80% {
        color: DeepPink;
    }

    90% {
        color: DodgerBlue;
    }

    100% {
        color: orange;
    }
}

a[href*="t3l3machus"] {
/* Fixes a minor style bug of the Download Listener button */
  background: none;
}

.middle-card {
    min-height: 500px; 
    max-height: 100%; 
    overflow-y: auto; 
    padding: 1.5rem; 
}